_docs/describe_lsv_destinos.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:imm="http://www.imm.gub.uy" xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.imm.gub.uy">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://geoserver.montevideo.gub.uy/geoserver/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="v_uptu_lsv_destinosType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="gid" nillable="true" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cod_linea" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="desc_linea" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ordinal_sublinea" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cod_sublinea" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="desc_sublinea" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cod_variante" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="desc_variante" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:CurvePropertyType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cod_variante_maximal" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cod_origen" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="desc_origen" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cod_destino" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="desc_destino" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="v_uptu_lsv_destinos" substitutionGroup="gml:AbstractFeature" type="imm:v_uptu_lsv_destinosType"/>
</xsd:schema>
