_docs/describe_sentido_variante.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:imm="http://www.imm.gub.uy" xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.imm.gub.uy">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://geoserver.montevideo.gub.uy/geoserver/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="v_uptu_sentido_varianteType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="cod_variante" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="desc_variante" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:CurvePropertyType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="invertido" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="v_uptu_sentido_variante" substitutionGroup="gml:AbstractFeature" type="imm:v_uptu_sentido_varianteType"/>
</xsd:schema>
